version: '3.9'

services:

  db:
    image: postgres:14.2-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
  php8.1.2-fpm:
    image: php:8.1.2-fpm-alpine
    build: ./php8.1.2-fpm
    depends_on:
      - db
    ports:
      - '9000:9000'
    volumes:
      - ./src:/var/www/project:cached
      - ./php8.1.2-fpm/www.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./php8.1.2-fpm/php.ini:/usr/local/etc/php/php.ini

  nginx-1.21.6:
    image: nginx:1.21.6-alpine
    ports:
      - '80:80'
    volumes:
      - ./nginx-1.21.6/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx-1.21.6/default.conf:/etc/nginx/conf.d/default.conf
      - ./src:/var/www/project
    depends_on:
      - php8.1.2-fpm
    links:
      - php8.1.2-fpm:php

  node:
    image: node:17-alpine
    build: ./node-17
    depends_on:
      - nginx-1.21.6
    volumes:
      - ./node-17/npmsrc:/app:cached
    command: "npm run preview" 
    ports:
      - '8080:8080'