version: '3.9'

services:

  db:
    image: postgres:14.2
    restart: always
    environment:
      POSTGRES_PASSWORD: password

  php8.1.2-fpm:
    image: php:8.1.2-fpm
    build: ./php-fpm
    depends_on:
      - db
    ports:
      - '9000:9000'
    volumes:
      - ./src:/var/www/project/public
      - ./php8.1.2-fpm/www.conf:/usr/local/etc/php-fpm.d/www.conf

  nginx-1.21.6:
    image: nginx:1.21.6
    ports:
      - '80:80'
    volumes:
      - ./nginx-1.21.6/default.conf:/etc/nginx/conf.d/default.conf
      - ./src:/var/www/project/public
    depends_on:
      - php8.1.2-fpm
    links:
      - php8.1.2-fpm:php